* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(237,238,240);
    font-family: 'Roboto', sans-serif;
}

/* Navbar Start */
nav{
    width: 100%;
    min-height: 7vh;
    background-color: white;
    display: flex;
    align-items: center;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo .img_logo img{
    width: 30px;
    height: 30px;
    margin-left: 190px;
}

/* Search Start */
nav .search_input{
    display: flex;
    border: 0px solid lightgray;
    text-align: center;
    height: 32px;
    border-radius: 5px;
    padding: 0px 5px 0 0;
    margin: 0 0 0 140px;
    background-color:rgb(237,238,240);
}

nav .search_bar{
    margin: 0px 20px 0 5px;
    outline: none;
    border: none;
    background-color:rgb(237,238,240);
}

nav .material-symbols-outlined{
    color: rgb(175,182,190);
    font-size: 20px;
    margin-top: 5px;
    padding-left: 7px;
}
/* Search End */
/* Navbar End */

/* Content Start */
/* Container-main start */

.container-main{
    width: 500px;
    height: 600px;
    margin-left: 215px;
    margin-top: 35px;
}

/* Description App Start */
.description h3{
    font-size: 22px;
    font-weight: 700px;
    line-height: 26px;
    color: black;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.description p{
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    color: rgb(98, 109, 122);
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
    text-align: center;
}
/* Description App End */

/* Image app Start */
#img{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
}

#img .img_2{
    margin: 1px 0 0 -15px;
}
/* Image app End */
/* Container-main End */

/* Devices Support Start */
#devices{
    margin-top: 5px;
    display: flex;
    font-size: 20px;
}

#devices button{
    font-size: 13px;
    font-weight: 400px;
    line-height: normal;
    font-family: 'Roboto', sans-serif;
    color: rgb(42, 88, 133);
    background-color: rgb(237,238,240);
    margin: 3px 9px;
    border: none;
}

#devices button:hover{
    background-color: #ddeff7 ;
}

#devices .material-symbols-outlined{
    font-size: 18px;
}

#devices .android{
    margin-left: 100px;
}

#devices .ios{
    margin-left: 50px;
    margin-top: 5px;
}

#devices .ios_icon{
    width: 17px;
    height: 17px;
    padding-right: 3px;
    color: rgb(42, 88, 133);
}
/* Devices Support End */

/* All Product Start */
.all_product{   
    margin-top: 20px;
    display: flex;
    color: rgb(42, 88, 133);
    justify-content: center;
}

.all_product a{
    font-size: 13px;
    font-weight: 400px;
    line-height: 15px;
    color: rgb(42, 88, 133);
    text-decoration: none;  
}

.all_product a:hover{
    text-decoration: underline;
}

.all_product span{
    margin-top: 1px;
    font-size: 15px;
}
/* All Product End */

/* Sign in/ Sign up Start */
#log_form{
    width: 320px;
    height: 330px;
    background-color: white;
    position: absolute;
    margin-top: -615px;
    margin-left: 850px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#log_form .logo img{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.sign_in button{
    width: 270px;
    height: 35px;
    border-radius: 7px;
    background-color: rgb(0,119,255);
    border: none;
    color: white;
    cursor: pointer;
}

.sign_up button{
    width: 270px;
    height: 35px; 
    border-radius: 7px;
    background-color: rgb(75,179,75);
    border: none;
    color: white;
    margin-top: -10px;
    cursor: pointer;
}

.container_form{
    margin-top: 35px;
}

.logo p{
    Font-size: 20px;
    Font-weight: 400;
    line-height: 24px;
    color: rgb(0, 0, 0);
}

.learn_more{
    margin-top: 5px;
    Font-size: 13px;
    Font-weight: 400;
    line-height: 16px;
    color: rgb(98, 109, 122);
}

.learn_more a{
    Font-size: 13px;
    line-height: 16px;
    color: rgb(98, 109, 122);
    text-decoration: none;
    font-weight: bolder;
}

.learn_more a:hover{
    text-decoration: underline;
}
/* Sign in/ Sign up End */

/* Footer start */
footer{
    margin-top: 80px;
    margin-left: 190px;
    display: flex;
    margin-bottom: 5px;
}

footer .year{
    font-size: 13px;
    font-weight: 400px;
    line-height: 17.68px;
    color: rgb(98, 109, 122);
}

footer .service{
    font-size: 13px;
    font-weight: 400px;
    line-height: 17.68px;
    margin-left: 149px;
    display: flex;
    text-indent: 10px;
}

footer .language{
    font-size: 13px;
    font-weight: 400px;
    line-height: 17.68px;
    margin-left: 149px;
    display: flex;
    text-indent: 10px;
}

footer .service a{
    text-decoration: none;
    list-style: none;
    color: rgb(42, 88, 133);
}

footer .language a{
    text-decoration: none;
    list-style: none;
    color: rgb(42, 88, 133);
}